<div class="flex bg-white">

  <div class="sideNav_container h-screen sticky top-0 hidden lg:flex">
    <app-sidenav [isMobile]="false"></app-sidenav>
  </div>

  <p-sidebar 
    [(visible)]="isSidebarVisible"
    position="left" 
    styleClass="w-full sm:w-80 lg:hidden">
    <app-sidenav [isMobile]="true" (navLinkClick)="isSidebarVisible = false"></app-sidenav> 
  </p-sidebar>

  <div class="flex-1 flex flex-col bg-white min-h-screen">

    <header class="sticky top-0 z-10">
      <app-nav (toggleSidebar)="toggleSidebar()"></app-nav>
    </header>

    <main class="flex-1 p-4 bg-white">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>